<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html;" charset="<?php echo CHARSET;?>">
<title>本地生活</title>
<link href="__CSS__/skin_0.css" rel="stylesheet" type="text/css" id="cssfile"/>
<script type="text/javascript" src="__STATIC__/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/jquery.validation.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.cookie.js"></script>
<script type="text/javascript" src="__JS__/admincp.js"></script>
<script type="text/javascript" src="__JS__/jquery.tooltip.js"></script>
<script language="javascript">
var SiteUrl = '{$Think.config.SiteUrl}';
var AdminUrl = SiteUrl+'/{$Think.MODULE_NAME}';
</script>
</head><body>