<include file="Public/header" />
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <h3>文章分类</h3>
      <ul class="tab-base">
        <li><a href="{:U('Article/article_class')}">管理</span></a></li>
        <li><a href="JavaScript:void(0);" class="current"><span>编辑</span></a></li>
      </ul>
    </div>
  </div>
  <div class="fixed-empty"></div>
  <form id="article_class_form" method="post">
    <input type="hidden" name="ac_id" value="{$vo['ac_id']}" />
    <table class="table tb-type2">
      <tbody>
<!--        <tr>
          <td colspan="2" class="required"><label for="ac_parent_id">上一级分类:</label></td>
        </tr>
        <tr class="noborder">
        <td class="vatop rowform">
        <select name="ac_parent_id" id="ac_parent_id">
        <option value="0">请选择...</option>    
        <volist name="ac_list" id="v"> 
        <option  value="{$v.ac_id}" <if condition="$v['ac_id'] eq $vo['ac_parent_id']">selected="selected"</if>>{$v.ac_name}</option>
        </volist>
        </select>
        </td>
        <td class="vatop tips">如果选择上级分类，那么新增的分类则为被选择上级分类的子分类</td>
        </tr>  -->     
        <tr class="noborder">
          <td colspan="2" class="required"><label class="validation" for="ac_name">分类名称:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$vo['ac_name']}" name="ac_name" id="ac_name" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
        
        <tr class="noborder">
          <td colspan="2" class="required"><label for="ac_title">SEO标题:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$vo['ac_title']}" name="ac_title" id="ac_title" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
          <td colspan="2" class="required"><label for="ac_key">SEO关键词:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$vo['ac_key']}" name="ac_key" id="ac_key" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
          <td colspan="2" class="required"><label for="ac_desc">SEO描述:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><textarea name="ac_desc" rows="6" class="w300" id="ac_desc">{$vo['ac_desc']}</textarea></td>
          <td class="vatop tips"></td>
        </tr>                        
        
        <tr>
          <td colspan="2" class="required"><label for="ac_sort">排序:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$vo['ac_sort']}" name="ac_sort" id="ac_sort" class="txt"></td>
          <td class="vatop tips">格式为正整数</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="tfoot">
          <td colspan="15" ><a href="JavaScript:void(0);" class="btn" id="submitBtn"><span>提交</span></a></td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
<script>
//按钮先执行验证再提交表单
$(function(){$("#submitBtn").click(function(){
    if($("#article_class_form").valid()){
     $("#article_class_form").submit();
	}
	});
});
//
$(document).ready(function(){
	$('#article_class_form').validate({
        errorPlacement: function(error, element){
			error.appendTo(element.parent().parent().prev().find('td:first'));
        },
        success: function(label){
            label.addClass('valid');
        },
        rules : {
            ac_name : {
                required : true
            },
            ac_sort : {
				required : true,
                number   : true
            }
        },
        messages : {
            ac_name : {
                required : '请输入分类名称'
            },
            ac_sort  : {
				required : '请输入排序信息',
                number   : '排序格式错误'
            }
        }
    });
});
</script>
<include file="Public/footer" />