<div class="fooder">
	<div class="wrap">
		<div class="main">
			<img class="pic1" src="__UPLOADS__/{$web_stting['member_logo']}">
			<img class="pic2" src="__UPLOADS__/{$web_stting['seller_logo']}">
			<div class="hint fr" style="width: 490px; text-align: justify;">
			{$web_stting['footer_info']}
			</div>
		</div>
	</div>
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ad1e873c04c1868885d6d10bcb7a28d0";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
