<include file="Public/header" />
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <h3>预存款</h3>
      <ul class="tab-base">
        <li><a href="javascript:void(0);" class="current"><span>管理</span></a></li>
      </ul>
    </div>
  </div>
  <div class="fixed-empty"></div>
  <form method="get" name="formSearch">
    <table class="tb-type1 noborder search">
      <tbody>
        <tr>
          <th>会员名称</th>
          <td><input type="text" value="{$search['member_name']}" name="member_name" class="txt" ></td>
		  <th><label>支付状态:</label></th>
		  <td>
		  	<select name="status">
		  		<option value="">请选择...</option>
		  		<option value="1" <if condition="$search['status'] eq 1">selected</if>>未支付</option>
		  		<option value="2" <if condition="$search['status'] eq 2">selected</if>>已支付</option>
		  	</select>
		  </td>
          <td><a href="javascript:document.formSearch.submit();" class="btn-search tooltip" title="查询">&nbsp;</a></td>
        </tr>
      </tbody>
    </table>
  </form>
  <form id="list_form" method='post'>
    <table class="table tb-type2">
      <thead>
        <tr class="space">
          <th colspan="15" class="nobg">列表</th>
        </tr>
        <tr class="thead">
          <th class="w120">充值单号</th>
          <th class="w120">会员名称</th>
          <th class="w120">支付方式</th>
          <th class="w120">充值金额(元)</th>
          <th class="w120">充值描述</th>
          <th class="w120">创建时间</th>
          <th class="w60">支付状态</th>
		  <th class="w60 align-center">操作</th>
        </tr>
      </thead>
      <tbody>
        <notempty name="list">
        <volist name="list" id="val">
        <tr class="hover edit">
        	<td>{$val['pdr_sn']}</td>
        	<td>{$val['member_name']}</td>
        	<td>{$val['payment_name']}</td>
        	<td>{$val['charge_price']}</td>
        	<td>{$val['charge_desc']}</td>
        	<td>{$val['charge_time']|date='Y-m-d H:i:s',###}</td>
        	<td>{$val['status']==1?'未支付':'已支付'}</td>
        	<td class='align-center'>
            <if condition="$val['status'] eq 1">
            <a href='javascript:if(confirm("您确定要删除吗？"))window.location.href="{:U('Member/predeposit_del',array('pre_id'=>$val['pre_id']))}";'>删除</a>
            </if>
            </td>
        </tr>
        </volist>
        <else/>
        <tr class="no_data">
          <td colspan="10">暂无记录</td>
        </tr>
        </notempty>
      </tbody>
      <notempty name="list">
      <tfoot>
        <tr class="tfoot">
          <td id="batchAction" colspan="15">
            <div class="pagination">{$page_show}</div>
        </tr>
      </tfoot>
     </notempty>
    </table>
  </form>
</div>
<include file="Public/footer" />