<include file="Public/header" /> 
</head>
<body>
	<include file="Public/nav" />

	<div class="slide-box">
		<div id="myCarousel" class="carousel slide">
			<!-- 轮播（Carousel）指标 -->


			<!-- 轮播（Carousel）项目 -->
			<div class="carousel-inner">
				<div class="app-down clearfix ">
					<div class="cell"><span class="ios"><a target="_blank" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.tencent.tmgp.ppgames.timetorock"></a></span>
					</div>
					<div class="cell"><span class="android"><a target="_blank" href="http://l.taptap.com/dgFKYOZf"> </a></span></div>
					<div class="cell-fenge"><span class="cell-fenge"><a target="_blank" > </a></span></div>
					<div class="cell"><span class="weibo"><a target="_blank" href="https://weibo.com/u/6275602923?refer_flag=1001030101_&is_hot=1"> </a></span></div>
				</div>

				<div class="fullSlide">
					<div class="bd">
						<ul>
							<li><a target="_blank"><img src="__IMG__/Banner-1.jpg"/></a></li>
							<li><a target="_blank"><img src="__IMG__/Banner-boy.png"/></a></li>
							<li><a target="_blank"><img src="__IMG__/Banner-1.jpg"/></a></li>
							<li><a target="_blank"><img src="__IMG__/Banner-boy.png"/></a></li>
						</ul>
					</div>
					<div class="hd" style="display: none"><ul></ul></div>
					<a class="prev" href="javascript:void(0)"></a>
					<a class="next" href="javascript:void(0)"></a>
				</div>
			</div>
			<div class="slide-bar" style="display:none">
				<volist>
					<ul>
						<li><span class="shouye"><a  href="carousel-inner" >首页</a></span></li>
						<li><span><a   href="carousel-inner" >角色</a></span></li>
						<li><span><a   href="carousel-inner" >攻略</a></span></li>
						<li><span><a   href="carousel-inner" >新曲</a></span></li>
						<li><span><a   href="carousel-inner" >图库</a></span></li>
						<li><span><a   href="carousel-inner" >活动</a></span></li>
						<li><span><a   href="carousel-inner" >返回</a></span></li>
					</ul>
				</volist>
			</div>
				<div class="connectlist">
					<ul>
						<li class="connectweixin" id="weixin"><a href="#"></a></li>
						<li class="connectqq" id="qq" onclick="javascript:window.location.href='http://wpa.qq.com/msgrd?v=3&uin=969336291&site=qq&menu=yes'"><li>
						<li class="connectfaq" id="FAQ"><a href="#"></a></li>
					</ul>
					<div class="connectother">
						<ul >
						</ul>
					</div>
					<div class="weixin" onmouseover="this.className = 'weixin on';" onmouseout="this.className = 'weixin';">
						<a href="javascript:;"></a>
						<div class="weixin_nr">
							<div class="arrow"></div>
							<img src="__IMG__/qrcode.png" width="100" height="100" />
							关注官方微信
						</div>
					</div>
				</div>
			<div class="news-box clearfix newswidth">
				<div class="fl newRoll newscontent-left">
					<div class="bd">
						<ul>
							<volist name="banner" id="bn">
								<li><a href="{$bn['ap_link']}" target="_blank"><img src="__UPLOADS__/{$bn['ap_pic']}" alt="{$bn['ap_intro']}"></a>
									<div class="luce"></div></li>
							</volist>
						</ul>

					</div>
					<ol class="ol">
						<li></li>
					</ol>
				</div>

				<div class="fr newList newscontent-right">
					<div class="list">
						<div class="head clearfix">
							<ol id="inde">
								<volist name="article_class" id="ac">
									<li <if condition="$i eq 1">class="on"</if>><a href="{:U('Index/news',array('ac_id'=>$ac['ac_id']))}">{$ac['ac_name']}</a></li>
								</volist>
							</ol>
							<a href="{:U('Index/news')}" class="more"> </a>
						</div>

						<div class="main">
							<volist name="article_class" id="at">
								<div class="con-item"<if condition="$i eq 1">style="display:block"</if>>
								<ul>
									<volist name="art_arr[$at['ac_id']]" id="art">
										<li><a href="{:U('Index/news_view',array('id'=>$art['article_id']))}">{$art['article_title']|cutstr=30}</a> <span>{$art['article_time']|date='m-d',###}</span></li>
									</volist>
								</ul>
						</div>
						</volist>
					</div>
				</div>
			</div>
		</div>

			<!-- 轮播（Carousel）导航 -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
		</div>

		<!-- 控制按钮 -->

	</div>
	<table cellpadding=3 cellspacing=5>
		<volist name="list" id="vo">
			<tr>
				<td >[ {$vo.create_time|date='Y-m-d H:i:s',###} ] {$vo.title} </td>
			</tr>
		</volist>
		<tr>
		</tr>
	</table>
	<div class="result page">{$page}</div>
	<div class="wrap">
		<div class="con-box">
			<!--<img class="star glintFlash" src="__IMG__/star.png" alt="">-->
			<!--<a class="video playflash" href="javascript:showView()"><img src="__IMG__/music.png" alt="{$web_stting['site_name']}"></a>-->
			<!--<span class="fr"><img class="wx" src="__UPLOADS__/{$web_stting['weixin_qrcode']}" alt="{$web_stting['site_name']}"></span>-->

			<div class="character-box clearfix">
				<ul>
                <volist name="index_ad" id="i_ad">

                </volist>
				</ul>
			</div>
		<div class="guidance-box clearfix">
		</div>

		<div class="gallery-box clearfix" id="pic">
			<div class="slideGroup" style="margin:0 auto">
				<div class="parHd">
					<ul><li>1</li><li>2</li><li>3</li></ul>
				</div>
				<div class="parBd">
					<div class="slideBox">
						<a class="sPrev" href="javascript:void(0)"></a>
						<ul>
							<li>
								<div class="pic"><a  target="_blank"><img class="zoom" src="__IMG__/gallery-xiaxiaotu.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a  target="_blank"><img src="__IMG__/gallery-jingyunjiang.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a  target="_blank"><img src="__IMG__/gallery-fenglang.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a  target="_blank"><img src="__IMG__/gallery-anpo.jpg" /></a></div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/gallery-ouyangling.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a  target="_blank"><img src="__IMG__/gallery-ouyangyi.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a  target="_blank"><img src="__IMG__/gallery-ajie.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/gallery-naxisai.jpg" /></a></div>
							</li>

						</ul>
						<a class="sNext" href="javascript:void(0)"></a>
					</div><!-- slideBox End -->

					<div class="slideBox">
						<a class="sPrev" href="javascript:void(0)"></a>
						<ul>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/gallery-liumengshu.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a  target="_blank"><img src="__IMG__/gallery-gumange.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/gallery-jinghe.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a  target="_blank"><img src="__IMG__/gallery-lanshan.jpg" /></a></div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/gallery-luola.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/gallery-qinchuan.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a  target="_blank"><img src="__IMG__/gallery-yinlechen.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a  target="_blank"><img src="__IMG__/gallery-youyou.jpg" /></a></div>
							</li>
						</ul>
						<a class="sNext" href="javascript:void(0)"></a>
					</div><!-- slideBox End -->

					<div class="slideBox">
						<a class="sPrev" href="javascript:void(0)"></a>
						<ul>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/gallery-zixuan.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/guochang-1.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/guochang-2.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/guochang-3.jpg" /></a></div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/guochang-4.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/guochang-5.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/guochang-6.jpg" /></a></div>
							</li>
							<li>
								<div class="pic"><a target="_blank"><img src="__IMG__/guochang-7.jpg" /></a></div>
							</li>
						</ul>
						<a class="sNext" href="javascript:void(0)"></a>
					</div><!-- slideBox End -->
				</div><!-- parBd End -->
			</div>
		</div>
			<div class="other-box clearfix">
				<ul>
					<volist name="index_ad" id="i_ad">
						<li><a href="{$i_ad['ap_link']}" target="_blank"><img src="__UPLOADS__/{$i_ad['ap_pic']}" onMouseOver="this.src='__UPLOADS__/{$i_ad["ap_pic_2"]}'" onMouseOut="this.src='__UPLOADS__/{$i_ad["ap_pic"]}'" alt="{$i_ad['ap_intro']}"></a></li>
					</volist>
				</ul>
			</div>
			<!-- 友情链接 -->
		</div>
	</div>
    
<include file="Public/footer" /> 

<!-- 弹出层 669X344-->
	<div id="Popup" class="modal-wrapper-bg" style="display:none">
	        <div class="modal-dialog bounceInDown">
				{$web_stting['video_info']|htmlspecialchars_decode}
				<!-- 关闭按钮 -->
	            <span onClick="Close()" id="close" class="close"></span>
	        </div>
	</div>
</body>
</html>

<script>
    // 滚动图js
	jQuery(".newRoll").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,autoPage:true,titCell:".ol"});
	// 友情链接
	jQuery(".link-box .main").slide({ mainCell:".con ul",autoPage:true,effect:"leftLoop",autoPlay:true,vis:5,delayTime:1000});
</script>
 <!-- tab 切换 -->
<script>
	$(function(){
		$('#inde li').mouseover(function(){
			var n = $(this).index();
			$('#inde li').removeClass('on');
			$(this).addClass('on');
			$('.con-item').each(function(){
				$(this).hide();
			});
			$('.con-item').eq(n).show();
		});
	});
</script>
<script type="text/javascript">
    jQuery(".fullSlide").slide({ titCell:".hd ul", mainCell:".bd ul", vis:"auto", autoPlay:true, autoPage:true, interTime:3200,mouseOverStop:false,effect:"left",});
</script>
<script>window.jQuery || document.write('<script src="__JS__/jquery-1.11.3.min.js"><\/script>')</script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">

    jQuery(".slideGroup .slideBox").slide({
        mainCell:"ul",
        vis:6,
        prevCell:".sPrev",
        nextCell:".sNext",
        effect:"leftLoop"
    });
	/* 外层tab切换 */
    jQuery(".slideGroup").slide({
        titCell:".parHd li",
        mainCell:".parBd"
    });
</script>
<script>
  (function() {

	function setClickHandler(id, fn) {
	  document.getElementById(id).onclick = fn;
	}

	setClickHandler('pic', function(e) {
	  e.target.tagName === 'IMG' && BigPicture({
		el: e.target,
		imgSrc: e.target.src.replace('_thumb', '')
	  });
	});

	setClickHandler('local_image_container', function(e) {
	  (e.target.tagName === 'IMG' || e.target.className === 'background-image') &&
		BigPicture({
		  el: e.target
		});
	});

	setClickHandler('video_container', function(e) {
	  var className = e.target.className;
	  ~className.indexOf('htmlvid') &&
		BigPicture({
		  el: e.target,
		  vidSrc: e.target.getAttribute('vidSrc')
		});
	  ~className.indexOf('vimeo') &&
		BigPicture({
		  el: e.target,
		  vimeoSrc: e.target.getAttribute('vimeoSrc')
		});
	  ~className.indexOf('youtube') &&
		BigPicture({
		  el: e.target,
		  ytSrc: e.target.getAttribute('ytSrc')
		});
	})

	setClickHandler('broken_container', function(e) {
	  e.target.id === 'broken_image' &&
		BigPicture({
		  el: e.target,
		  imgSrc: '/nopic.jpg'
		});
	  e.target.id === 'broken_vid' &&
		BigPicture({
		  el: e.target,
		  vidSrc: '/novid.mp4'
		});
	  ~e.target.className.indexOf('vimeo') &&
		BigPicture({
		  el: e.target,
		  vimeoSrc: 'ajoiejlkr'
		})
	  ~e.target.className.indexOf('youtube') &&
		BigPicture({
		  el: e.target,
		  ytSrc: 'oijlksdjf'
		})
	});

  })();
</script>
<script type="text/javascript">
        $(document).ready(function(){
            var description = ' ';
            $('body').ttwMusicPlayer(myPlaylist, {
                autoPlay:false, 
                description:description,
                jPlayer:{
                }
            });
        })
    </script>

