<include file="Public/header" />
<div class="page">
  <table class="table tb-type2">
    <thead>
      <tr class="space">
        <th colspan="10" class="nobg big">我们的理念</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="w12"></td>
        <td>
        	乐于分享，这是一个美好的时代。<br/><br/>
            我们乐于与用户分享成长，同时，我们欢迎所有用户也可以与我们分享，无论是您对我们的肯定，对产品的建议，Bug反馈，还是对我们提出的批评。
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="tfoot">
        <td colspan="10"></td>
      </tr>
    </tfoot>
  </table>
  <table class="table tb-type2">
    <thead>
      <tr class="space">
        <th colspan="10" class="nobg big">研发团队</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="w12"></td>
        <td class="w96">核心开发者&nbsp;:&nbsp;</td>
        <td>周亮、阔瑜君、黄河、小公猪、乐乐 . . .</td>
      </tr>
      <tr>
        <td class="w12"></td>
        <td class="w96">核心设计师&nbsp;:&nbsp;</td>
        <td>彭杰、李俊杰、林文雄、木瓜、朱哥 . . .</td>
      </tr>     
    </tbody>
    <tfoot>
      <tr class="tfoot">
        <td colspan="10"></td>
      </tr>
    </tfoot>
  </table>
 
   <table class="table tb-type2">
    <thead>
      <tr class="space">
        <th colspan="10" class="nobg big">系统升级</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="w12"></td>
        <td>系统版本号&nbsp;:&nbsp; {$site_version}</td>
      </tr>
      <tr class="noborder">
        <td></td>
        <td>升级向后兼容&nbsp;,&nbsp;不影响系统的正常使用&nbsp;,&nbsp;升级详情见官网(<a href="http://www.phonepadgames.com" target="_blank">木想到科技</a>)</td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="tfoot">
        <td colspan="10"></td>
      </tr>
    </tfoot>
  </table> 
  <table class="table tb-type2">
    <thead>
      <tr class="space">
        <th colspan="10" class="nobg big">相关声明</th>
      </tr>
    </thead>
    <tbody>
      <tr class="noborder">
        <td></td>
        <td>本系统引用了以下开源项目&nbsp;:&nbsp;&nbsp;ThinkPHP,&nbsp;jQuery,&nbsp;Swfupload,&nbsp;Kindeditor等. 原作者拥有其所有版权.</td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="tfoot">
        <td colspan="10"></td>
      </tr>
    </tfoot>
  </table>
</div>
<include file="Public/footer" />
