<include file="Public/header" />
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <h3>地区设置</h3>
      <ul class="tab-base">
        <li><a href="{:U('Setting/district')}"><span>地区管理</span></a></li>
        <li><a href="JavaScript:void(0);" class="current"><span>添加地区</span></a></li>
      </ul>
    </div>
  </div>
  <div class="fixed-empty"></div>
    
  <form id="c_form" method="post" action="{:U('Setting/add_district')}">
   <input type="hidden" name="pid" value="{$pid}">
    <table class="table tb-type2 nobdb">
      <tbody>
 
         <tr>
          <td colspan="2" class="required"><label class="validation">地区首字母:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="" name="first_letter" id="first_letter" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
        
        <tr>
          <td colspan="2" class="required"><label class="validation">地区名称:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="" name="c_name" id="c_name" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
            
      </tbody>
      <tfoot>
        <tr class="tfoot">
          <td colspan="15" ><a href="JavaScript:void(0);" class="btn" id="submitBtn"><span>保存</span></a></td>
        </tr>
      </tfoot>
    </table>

  </form>
</div>
<script>
//按钮先执行验证再提交表单
$(function(){

	$("#submitBtn").click(function(){
		if($("#c_form").valid()){
			$("#c_form").submit();
		}
	});
	
	$('#c_form').validate({
        errorPlacement: function(error, element){
			error.appendTo(element.parent().parent().prev().find('td:first'));
        },
        success: function(label){
            label.addClass('valid');
        },
        rules : {
            first_letter : {
                required : true
            },
            c_name : {
                required   : true
            }
        },
        messages : {
            first_letter : {
                required : '请收入首字母'
			},
            c_name  : {
                required   : '请输入地区名称'
            }
        }
    });
	
});
</script>

<include file="Public/footer" />