@charset "utf-8";
body { margin: 0; padding: 0; margin: 0 auto; color: #333; padding:0; font-family: "Microsoft Yahei", Arial; font-size: 14px;  }
ul, form, p, h1, h2, h3, h4, h5, h6, div, input, text, textarea, dl, dt, dd,ol,ul,li { padding: 0; margin: 0; }
input,button{outline: none; border: none; }
em,i{ font-style: normal;}
a{ color: #333; text-decoration: none; -webkit-tap-highlight-color:transparent;}
a:hover { text-decoration: none; }
li { list-style: none;}
img {border: 0;}
textarea,input,select { font-family: "Microsoft Yahei";}
body{background:url(../images/back.jpg) no-repeat center top;}
.ellipsis {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.clear { clear: both;}
.wrap { width: 1200px; margin: 0 auto;}
.fl { float: left}
.fr { float: right}
.tc{ text-align: center;}
.clearfix:after{ content: ""; clear: both; display: block;}
.video {  position: absolute; top: 150px; right: -7px;  width: 219px; height: 316px;}
.video:hover { -webkit-animation-play-state: paused;animation-play-state: paused;}
.back-w { background: #fff; }
.con-box{ position: relative; z-index: 0; background: url(../images/center.jpg) no-repeat left top;  padding-bottom: 20px;}
.logo { position: relative; z-index: 1;}
.top-nav{ height: 67px; width: 100%;  z-index: 1; background:url(../img/navback.png) repeat-x; position: absolute; top: 0; left: 0; }
.top-nav ul li{ padding-bottom: 5px; position: relative; float: left; width: 170px; text-align: center; margin: 0 33px;border-bottom: 0px solid #67f0f9; transition:all 0.2s ease-in 0s;} 
/*.top-nav ul li:hover{ border-bottom: 5px solid #67f0f9;}*/
.nav{ position: absolute; top: 0;}
.nav .sign { display: block; position:absolute; bottom: 0; left: 33px; width: 170px; height: 5px; background: #67f0f9;}
.top-nav ul li.spec{margin-left: 287px;}
.top-nav ul li.on{  }
.top-nav ul li a { color: #fff; display: block; font-size: 18px;line-height: 55px; transition:all 0.5s;}
.top-nav ul li a:hover{ color: #67f0f9}
.app-down { padding-top: 500px; padding-bottom: 23px;}
.app-down .wx {  margin-right: 15px; margin-left: 25px; border: 7px solid #FFDA00; border-radius: 5px;}
.app-down .ios,.app-down .android { margin-top: 100px; width: 190px; height: 56px;}
.app-down .ios a,.app-down .android a {display: inline-block; width: 190px; height: 56px;}
.app-down .android { background: url(../img/android.png) no-repeat;}
.app-down .android:hover { background: url(../img/android_hover.png) no-repeat;}
.app-down .ios { background: url(../img/ios.png) no-repeat;}
.app-down .ios:hover { background: url(../img/ios_hover.png) no-repeat;}

.news-box,.link-box { padding:13.5px; background: url(../img/strip.png) repeat-x; border-radius: 10px;}
.news-box .newRoll { width: 580px; height: 330px; position: relative;}
.news-box .newRoll .luce {   width: 100%; background:rgba(0,0,0,0.5); height: 46px; position: absolute; bottom: 0; left: 0;}
.news-box .newRoll .ol { position: absolute; z-index: 1;  bottom: 11px; left: 40%}
.news-box .newRoll .ol li { cursor: pointer; margin: 0 8px;  background: #fff; float: left; width: 15px; height: 15px; overflow: hidden; border-radius: 50%; text-indent: 9999px;border: 2px solid #FFFFFF;}
.news-box .newRoll .ol li.on { background: #31b5d0; }
.news-box .newList { width: 580px; height: 330px; background: #fff;}
.news-box .newList .list { margin: 15px;}
.news-box .newList .head ol li { float: left; margin-right: 15px;}
.news-box .newList .head { border-bottom: 3px solid #FFB927;  padding: 10px 0 15px;}
.news-box .newList .head .more {  border-radius: 4px;  width: 36px; height: 36px; background:url(../img/more.png) no-repeat center center #dcdcdc; color: #7d7d7d; float: right;}
.news-box .newList .head ol li a { color: #7d7d7d;  border-radius: 5px; display: block; text-align: center; width: 75px; height: 36px; line-height: 36px; font-size: 18px; background: #dcdcdc; transition:all 0.2s ease-in 0s;}
.news-box .newList .head ol li.on a{ background: #ffb927;color: #fff;}
.news-box .newList .head ol li a:hover { background: #ffb927;color: #fff; }
.news-box .newList .main ul li { text-indent: 10px; line-height: 53px; font-size: 17px; color: #646464; border-bottom: 1px dotted #FFB927;}
.news-box .newList .main ul li a { width: 478px; color: #646464;overflow: hidden; display: inline-block;  vertical-align: top; text-overflow: ellipsis; white-space: nowrap;}
.news-box .newList .main ul li a:hover { color: #FFB927;}
.news-box .newList .main ul li span { float: right;}
.news-box .newList .main .con-item { display: none;}
.other-box ul li { width: 274px; height: 105px; float: left; position: relative; margin: 0 13px;}
.other-box { margin: 40px 0 30px;}
.link-box .main { position: relative; padding: 26px 60px 10px 60px;}
.link-box .main .prev { cursor: pointer;  position: absolute; left: 24px; top: 158px;}
.link-box .main .next { cursor: pointer; position: absolute; right: 24px; top: 158px;}
.link-box .main h2 { background: url(../img/bgd.png) no-repeat left bottom;   padding: 2px 0 12px;}
.link-box .con ul li { width: 190px; float: left; margin: 6px 10px; border-radius: 4px;}
.link-box .con ul li img {   margin: 5px 0;}
.link-box .con {   padding: 14px 0 3px;}
.link-box .con ul { height: 160px;}
.new-main { background: url(../img/xd.jpg) repeat-y center top;  padding: 25px 0;}
.new-main .container { background: rgba(255,255,255,0.5);  border-radius: 9px; padding: 15px; box-shadow: 2px 0px 8px rgba(203, 199, 199, 0.4),-2px 0px 2px rgba(203, 203, 203, 0.4),0px -1px 2px rgba(203, 203, 203, 0.4),0px 1px 5px rgba(189, 189, 189, 0.4);}
.new-main .container .l-con,.new-main .container .r-con { background: #fff; }
.new-main .container .l-con { padding: 20px; height: 770px; float: left;}
.new-main .container .l-con ul li { margin: 12px 0;}
.new-main .container .l-con ul li a { transition:all 0.3s; font-size: 22px; border-radius: 5px; width: 175px; height: 45px; line-height: 45px; text-align: center; display: block; color: #7d7d7d; background: #dcdcdc;}
.new-main .container .l-con ul li a:hover { background: #76dbe7;color: #fff;}
.new-main .container .l-con ul li.on a {background: #76dbe7;color: #fff; }
.new-main .container .r-con { padding:5px 35px; float: right; height: 800px;}
.new-main .container .r-con h1 { color: #76dbe7; width: 850px; border-bottom: 3px solid #76dbe7; font-weight: 500;  font-size: 25px;
  line-height: 65px;}
.new-main .container .r-con ul li { font-size: 16px; border-bottom: 2.5px dotted #76DBE7; line-height: 55px; }
.new-main .container .r-con ul li:after {content: ''; clear: both; display:block;}
.new-main .container .r-con ul li span { float: left; width: 730px; height: 55px; overflow: hidden;  text-overflow: ellipsis; white-space: nowrap; }
.new-main .container .r-con ul li span a:hover { color: #76DBE7;}
.new-main .container .r-con ul li i { float: right; }
.details-main { background: #fff;} 
.details-main .head {   margin: 0 30px; color: #76dbe7; border-bottom: 3px solid #76dbe7; font-weight: 500; font-size: 25px; line-height: 65px;}
.details-main .head a,.new-main .container .r-con h1 a{ color: #76dbe7;}

.details-main .text-box .title { font-weight: 500; text-align: center;  padding: 25px 0;}
.details-main .text-box .time { text-align: center;}
.edit-container { padding: 15px;}
.fooder { height: 200px; background: #3c9fb1; color: #fff;}
.fooder .main{ padding: 0 100px; padding-top: 50px;}
.fooder .main .hint p { line-height: 23px;}
.fooder .pic1 {vertical-align: top; margin-top: 28px;  margin-left: 33px;}
.fooder .pic2 {  margin-left: 73px; margin-top: 10px;}

/*分页样式*/
.pro_page{  clear: both; padding: 40px 0; text-align: right; font-size: 16px; line-height: 22px;} 
.pro_page a {  margin-right: 18px;  border-radius: 10px; background: #76dbe7; color: #fff; width: 90px; height: 41px; display: inline-block; text-align: center; line-height: 41px;}
.pro_page a:hover{  }
.pro_page a:active { background: #1A8E9C;}



.modal-wrapper-bg { position: fixed;z-index: 10; top: 0;left: 0;right: 0;bottom: 0; background: rgba(0,0,0,0.5);}
.modal-dialog { position: relative; margin: 0 auto; width: 670px; margin-top: 10%;}
.modal-dialog .close {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: -37px;
  width: 37px;
  height: 37px;
  background: url(../img/close.png) no-repeat;
}


.bounceIn {
  -webkit-animation: bounceIn 1.5s 0.5s;
  animation: bounceIn 1.5s 0.5s;
}

.playflash {
  -webkit-animation:swinging 2s infinite alternate;
  animation:swinging 2s infinite alternate;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20%{
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  } {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -ms-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}





/*=*/
@-webkit-keyframes swinging{
  from {
     -webkit-transform: rotate(35deg);
     -o-transform: rotate(35deg);
     -ms-transform: rotate(35deg);
  }
  to {
     -webkit-transform: rotate(-7deg);
     -o-transform: rotate(-7deg);
     -ms-transform: rotate(-7deg);

  }
}

@keyframes swinging{
  from {
     -webkit-transform: rotate(35deg);
     -o-transform: rotate(35deg);
     -ms-transform: rotate(35deg);
     -moz-transform: rotate(35deg);
  }
  to {
     -webkit-transform: rotate(-7deg);
     -o-transform: rotate(-7deg);
     -ms-transform: rotate(-7deg);
     -moz-transform: rotate(-7deg);

  }
}
.place { position: absolute; top: 65px; left: 317px;}
.star { position: absolute; top: 209px; right: 160px;}
.glintFlash { opacity: 0; animation:glintFlash 1s infinite alternate;}
@keyframes glintFlash{
  form{opacity: 0}
  to{opacity: 1}
}
