<include file="Public/header" />
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <h3>广告管理</h3>
      <ul class="tab-base">
        <li><a href="JavaScript:void(0);" class="current"><span>管理</span></a></li>
        <li><a href="{:U('Adv/adv_add')}"><span>添加</span></a></li>
      </ul>
    </div>
  </div>
  <div class="fixed-empty"></div>
  <!-- 广告查询 -->
  <form method="get" name="formSearch">
    <table class="tb-type1 noborder search">
      <tbody>
        <tr>
          <th>广告位置</th>
          <td>
          	<select name='ap_code'>
          		<option value="">请选择</option>
          		<option value="banner" <if condition="$search['ap_code'] eq 'banner'">selected</if>>PC首页轮播图</option>
                <option value="index" <if condition="$search['ap_code'] eq 'index'">selected</if>>PC首页中部广告</option>
                <option value="link" <if condition="$search['ap_code'] eq 'link'">selected</if>>PC友情链接</option>
              <option value="m_banner" <if condition="$search['ap_code'] eq 'm_banner'">selected="selected"</if>>手机轮播图</option>
              <option value="m_adv" <if condition="$search['ap_code'] eq 'm_adv'">selected="selected"</if>>手机中部广告图</option>                  
          	</select>
          </td>
          <th>名称</th>
          <td><input type="text" value="{$search['ap_name']}" name="ap_name" class="txt"></td>
          <td><a href="javascript:document.formSearch.submit();" class="btn-search tooltip" title="查询">&nbsp;</a></td>
        </tr>
      </tbody>
    </table>
  </form>
  <table class="table tb-type2" id="prompt">
    <tbody>
      <tr class="space odd">
        <th colspan="12">
        	<div class="title">
	            <h5>操作提示</h5>
	            <span class="arrow"></span>
            </div>
        </th>
      </tr>
      <tr>
      	<td>
      		<ul>
      			<li>可以对广告位进行查询，进行编辑、删除、代码调用等操作</li>
      		</ul>
      	</td>
      </tr>
    </tbody>
  </table>
  <form method='post' id="form_rec"> 
    <table class="table tb-type2 nobdb">
      <thead>
        <tr class="thead">
          <th>&nbsp;</th>
          <th>名称</th>
          <th>位置</th>
          <th>调用ID</th>
          <th class="align-center">操作</th>
        </tr>
      </thead>
      <tbody>
        <notempty name="list">
        <volist name="list" id="v">
        <tr class="hover edit">
          <td class="w24"><input type="checkbox" name="del_id[]" value="{$v['ap_id']}" class="checkitem"></td>
          <td>{$v['ap_name']}</td>
          <td>
          <if condition="$v['ap_code'] eq 'banner'">PC首页滚动图
          <elseif condition="$v['ap_code'] eq 'index'"/>PC首页中部广告
          <elseif condition="$v['ap_code'] eq 'link'"/>PC友情链接
          <elseif condition="$v['ap_code'] eq 'm_banner'"/>手机轮播图
          <elseif condition="$v['ap_code'] eq 'm_adv'"/>手机中部广告图
          <else/>
          </if>
          </td>
          <td>{$v['ap_code']}</td>
          <td class="w48 align-center">
          	<a href="{:U('Adv/adv_edit',array('ap_id'=>$v['ap_id']))}">编辑</a>
          </td>
        </tr>
        </volist>
        <else/>
        <tr class="no_data">
          <td colspan="10">暂无记录</td>
        </tr>
         </notempty>
      </tbody>
      <tfoot>
        <notempty name="list">
        <tr class="tfoot" id="dataFuncs">
          <td><input type="checkbox" class="checkall" id="checkallBottom"></td>
          <td colspan="16" id="batchAction">
          	<label for="checkallBottom">全选</label>
            &nbsp;&nbsp; 
            <a href="JavaScript:void(0);" class="btn" onclick="javascript:submit_delete_batch();"><span>删除</span></a>
            <div class="pagination">{$show_page}</div></td>
        </tr>
      </tfoot>
       </notempty>
    </table>
  </form>
</div>
<script type="text/javascript">
function submit_delete_batch(id)
{
    if(confirm('确定要进行此操作?')) 
	{
        $('#form_rec').submit();
    }
}
</script>
<include file="Public/footer" />